<h1>Please enter your text below for mood analysis...</h1>
<container>
	<form action="/outcome" method="post">
		<textarea rows="5" cols="80" id="textbox" type="text" name="userinput"></textarea>
		<input type="submit" value="Submit">
	</form>
</container>